*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.inline-block{

    display: inline-block;
    width: 50px;
    padding: 20px 0px;
    margin-left: 20px;
}

.central{
    vertical-align: middle;
}

header{
    background-color: white
    

}

body{

    background-color: #e1e1e1;
   

}

.container{
    width: 70%;
    margin: 0 auto;
    background-color: white;
    margin-top: 40px;
    padding: 20px 0px 60px 40px;


}


.tasti{
    padding: 5px;
    margin-right: 5px;


}

.Palla{
    padding: 5px;
    
    

}

.Azzuro{

   background-color: rgb(75, 145, 185); 
}

.Grigio{
    background-color: grey;
    color: #e1e1e1a1;
    

}

.list{
    display: list-item none;
}

.Verde{

    background-color: green;
    color: rgb(68, 255, 47);
}

.Viola{

    background-color: blueviolet;
}

.Rosso{
background-color: red;
color: yellow;
    
}

.Arancio{
background-color: orange;
    
}

.Rosa{
    background-color: fuchsia;
}

.Verde-2{

    background-color: greenyellow;
}

.Bianco{
    color: white;
}