*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.inline-block{

    display: inline-block;
}

header{


}

.Azzuro{

    
}

.Verde{

    
}

.Viola{

    
}

.Rosso{

    
}

.Arancio{

    
}

.Verde-2{

    
}