*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.inline-block{

    display: inline-block;
    width: 50px;
    padding: 20px 0px;
    margin-left: 20px;
}

.central{
    vertical-align: middle;
}

header{


}

.Azzuro{

    
}

.Verde{

    
}

.Viola{

    
}

.Rosso{

    
}

.Arancio{

    
}

.Verde-2{

    
}